.project {
  padding: 90px 0;
  font-family: "JUA";
}

.project .indexing {
  width: 70%;
  display: inline-block;
  text-align: right;
  margin: 19px;
  font-family: "DO_HYEON";
  font-weight: bold;
}

.project .project-img {
  width: 55%;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  box-shadow: 1px 0px 14px 5px #0000001a;
}

.project .project-info {
  width: 70%;
  display: inline-block;
}

.project .project-item {
  display: flex;
  padding: 14px 0;
}
.project .project-item .project-title {
  font-size: 17px;
}
.project .project-item .project-title {
  width: 30%;
}
.project .project-item .project-content {
  text-align: left;
  white-space: pre-line;
}
.project .project-item.link .project-content {
  /* text-align: center; */
  color: var(--blue);
}
.project .project-item.skills .project-content .chip {
  display: inline-block;
  padding: 0px 15px;
  height: 29px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 7px;
  font-family: "HANNA_AIR";
  background-color: #011a33;
  color: white;
  font-weight: bold;
  margin: 1px 2px;
}

.project .project-item .project-content {
  width: 70%;
  font-size: 18px;
}

.project .project-item.name {
  text-align: left;
  font-family: "HANNA_PRO";
  margin-left: 100px;
  padding-top: 0;
  color: var(--secondary-dark);
}

.project .project-item.name .project-content {
  font-size: 42px;
}

.project .project-list {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 19px;
  display: inline-grid;
  column-gap: 10px;
  padding-top:120px;
}
.project .project-list .left-arrow {
  position: absolute;
  left: 0;
}
.project .project-list .right-arrow {
  position: absolute;
  right: 0;
}
.project .project-list .project_item {
  width: 338px;
  height: 350px;
  margin: 7px;
  box-shadow: 1px 0px 14px 5px #0000001a;
}
.project .project-list .project_item.selected {
  box-shadow: 1px 0px 14px 5px #00000045;
}
.project .project-list .project-item .project_title {
  font-size: 18px;
}
.project .project-list .project-item .chip {
  font-size: 12px;
}

@media screen and (max-width: 655px) {
  .project .project-img {
    width: 90%;
  }
  .project .project-info {
    width: 90%;
  }
}
