@font-face {
  font-family: "JUA";
  src: url("./resource/fonts/JUA.ttf");
}
@font-face {
  font-family: "DO_HYEON";
  src: url("./resource/fonts/DO_HYEON.ttf");
}

:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #f19e9c;
  --secondary-dark: #ec5e57;
  --overlay: rgba(0, 0, 0, 0.473);
  --text: #202020;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
